.bgimg {
  background-image: url(../src//assets/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0rem right 6rem;
  background-size: 19% 43%;
}
@media (min-width: 375px) and (max-width: 640px) {
  .bgimg {
    background-image: url(../src/assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0rem right 1.2rem;
    background-size: 35% 24%;
  }
}
@media (min-width: 640px) and (max-width: 1280px) {
  .bgimg {
    background-image: url(../src/assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0rem right 3.3rem;

    background-size: 30% 24%;
  }
}
